<%- include('./partials/header.ejs', {title:"Viewing Collection"})%>

<body class="collections-show">
    <h1>Collection: <%=collexn.name%></h1>
    
    <p>Number of Wines:  <%= collexn.winesIncluded.length%> </p>
    <p>In this collection:</p>
    <ul>
    <% collexn.winesIncluded.forEach((wine) =>{%>
        <li> <a href=<%=`/wines/${wine.id}`%>><%=wine.name%></a></li>
   <% }) %>
</ul>
</body>
</html>