<%- include('./partials/header.ejs', {title:"Browse"})%>
<body class="wine-show">
    <h1> <%=wine.name%> </h1>
    <img id="wineImg" src="<%=wine.thumb%>">
    
    <table>
        <tr id="rowOne">
            <th>Country</th>
            <th>Region</th>
            <th>Avg. Rating</th>
            <th>Num. of Ratings</th>
            <th>Purchase</th>
        </tr>
        <tr id="rowTwo">
            <td><%= wine.country%></td>
            <td><%= wine.region%></td>
            <td><%= wine.average_rating%></td>
            <td><%= wine.ratings%></td>
            <td><a href="<%=wine.link%>">$<%=wine.price%></a></td>
            </tr>
    </table>
</body>
</html>